.blogList {
    margin-top: 20px;
}

.blogItem {
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blogTitle {
    color: #40798C;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.readLink {
    color: #050401;
    text-decoration: none;
    font-size: 1rem;

    &:hover {
        text-decoration: underline;
    }
}
