$base-font-size: 16px;

.heading {
    font-size: 1.5rem;
    color: #40798C;
}

.form {
    margin-top: 1.25rem;

    input[type='email'],
    input[type='password'],
    input[type='submit'] {
        display: block;
        width: 100%;
        padding: 0.625rem;
        margin-bottom: 0.625rem;
        border: 1px solid #8C5E58;
        border-radius: 0.3125rem;
        font-size: 1rem;

        &:focus {
            outline: none;
            border-color: #FFB49A;
        }
    }

    .button {
        display: inline-block;
        padding: 0.625rem 1.25rem;
        background-color: #ACD8AA;
        color: #050401;
        border: none;
        border-radius: 0.3125rem;
        font-size: 1rem;
        cursor: pointer;

        &:hover {
            background-color: #8C5E58;
            color: #FFFFFF;
        }
    }
}
