$base-font-size: 16px;

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.App {
    font-family: Arial, sans-serif;
    color: #050401;
    background-color: #ACD8AA;
    min-height: 100vh;
    padding: 20px;
    animation: fadeIn 0.5s ease; /* Apply fadeIn animation */
}

a {
    color: #40798C;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

button {
    padding: 0.625rem 1.25rem;
    background-color: #ACD8AA;
    color: #050401;
    border: none;
    border-radius: 0.3125rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
        background-color: #8C5E58;
        color: #FFFFFF;
    }
}

input[type='text'],
input[type='email'],
input[type='password'] {
    display: block;
    width: 100%;
    padding: 0.625rem;
    margin-bottom: 0.625rem;
    border: 1px solid #8C5E58;
    border-radius: 0.3125rem;
    font-size: 1rem;

    &:focus {
        outline: none;
        border-color: #FFB49A;
    }
}

textarea {
    display: block;
    width: 100%;
    padding: 0.625rem;
    margin-bottom: 0.625rem;
    border: 1px solid #8C5E58;
    border-radius: 0.3125rem;
    font-size: 1rem;

    &:focus {
        outline: none;
        border-color: #FFB49A;
    }
}
