.homePageContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    font-size: 2rem;
    color: #40798C;
    margin-bottom: 20px;
}

.createFormContainer {
    margin-bottom: 20px;
}

.errorMessage {
    color: #FF0000;
    font-style: italic;
}
